<nav>
    <h4>Follow us on</h4>
    <ul>
        <li><a href="https://www.facebook.com"><img src="images/follow_us_facebook.svg" alt="Follow us on Facebook" /></a></li>
        <li><a href="https://www.twitter.com"><img src="images/follow_us_twitter.svg" alt="Follow us on Twitter" /></a></li>
        <li><a href="https://www.instagram.com"><img src="images/follow_us_instagram.svg" alt="Follow us on Instagram" /></a></li>
        <li><a href="https://www.youtube.com"><img src="images/follow_us_youtube.svg" alt="Follow us on Youtube" /></a></li>
        <li><a href="https://www.linkedin.com"><img src="images/follow_us_linkedin.svg" alt="Follow us on LinkedIn" /></a></li>
        <li><a href="https://www.pinterest.com"><img src="images/follow_us_pinterest.svg" alt="Follow us on Pinterest" /></a></li>
        <li><a href="https://www.behance.net/"><img src="images/follow_us_behance.svg" alt="Follow us on Behance" /></a></li>
    </ul>
</nav>