<nav>
    <ul>
        <li><a href="artists.html">Artists</a></li>
        <li><a href="artworks.html">Artworks</a></li>
        <li class="logo"><a href="index.html"><img src="./images/FutartisticHub_black.png" alt="FutartisticHub logo"></a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="login.html">Log In</a></li>
    </ul>
</nav>