<header>
    <h1>Log in</h1>
    <h4>If you are not already registered, please <a id="goto_register" href="#">register</a> first</h4>
</header>

<form>
    <div class="empty"></div><div class="align-left">Required fields are marked with an *</div>
    <label for="input_username">Username*</label>
    <input id="input_username" type="text" />

    <label for="input_password">Password*</label>
    <input id="input_password" type="password" />
    <div class="empty"></div> <!-- this div is a placeholder to keep the layout of the grid -->
    <input type="submit" value="Login" />
    <div class="empty"></div> <!-- this div is a placeholder to keep the layout of the grid -->
    <div class="align-left"><a href="#">Forgot password?</a></div>
</form>
