<header>
    <h1>Register</h1>
    <h4>If you are already registered, please <a id="goto_login" href="#">login</a></h4>
</header>
<form id="Register">
    <div></div><div class="align-left">Required fields are marked with an *</div>
    <label for="input_username">Username*</label>
    <input id="input_username" type="text" />

    <label for="input_password">Password*</label>
    <input id="input_password" type="password" />

    <label for="input_confirm_password">Confirm Password*</label>
    <input id="input_confirm_password" type="password" />

    <div></div> <!-- this div is a placeholder to keep the layout of the grid -->
    <input type="submit" value="Register" />
</form>
